
.jumbotron {background-color: white;

}
.container {background-color: #8d0072;
}
.radio{font-size: 100%;
       color: black;
}
.well{background-color:#d4e099;
}
h1{text-align: center;
}
h2{text-align: center;
}
input:invalid {
  box-shadow: 0 0 5px 1px red;
}
input:focus:invalid {
  box-shadow: none;
}
.messages2{
  font-size: 60px;
}
.results2{
  font-size: 60px;
}
