
.jumbotron {background-color: white;

}
.container {background-color: #ffbf00;
}
.radio{font-size: 100%;
       color: black;
}
.well{background-color: #bdbdbd;
}
h1{text-align: center;
}
h2{text-align: center;
}
input:invalid {
  box-shadow: 0 0 5px 1px black;
}
input:focus:invalid {
  box-shadow: none;
}
.messages2{
  font-size: 40px;
}
.results2{
  font-size: 40px;
}
